:root {
    --color-orange: #F79E0E;
    --color-yellow: #EEBD23;
    --color-dark-blue: #0F124D;
    --color-light-blue: #262A4E;
    --color-light-gray: #979797;
    --color-gray: #404041;
    --color-dark-gray: #262626;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--color-dark-blue);
}

#footer {
    background-color: var(--color-light-blue);
    color: #fff;
}

.bg-blue {
    background-color: var(--color-dark-blue);
}

.white {
    color: #fff;
}

.orange {
    color: var(--color-orange);
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 0;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 27px;
}

.fs-15 {
    font-size: 15px;
}

.fs-11 {
    font-size: 11px;
}

.fs-21{
    font-size: 21px;
}

.fs-12 {
    font-size: 12px;
}

h3,
p,
li {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;

}

ul {
    font-size: 14px;
    padding-left: 20px;
}

li {
    list-style-image: url("../images/vue.svg");
    line-height: 25px;
}

footer li {
    list-style-image: none;
    list-style: none;
}

footer ul {
    padding-left: 0;
}

button {
    border: none;
    background-color: var(--color-orange);
    color: #fff;
    font-size: 21px;
    padding: 20px 60px;
    margin-top: 30px;
    cursor: pointer;
    transition: backround-color .25s;
    border-radius: 100px;
}

button:hover {
    background-color: var(--color-yellow);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.menu-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

#menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: transform .25s;
}

#menu a:hover {
    transform: scale(1.2);
    color: #F79E0E;
    text-decoration: underline;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cols-5 {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    gap: 30px;
}

.flex-1 {
    flex: 1;
}

.text-right {
    text-align: right;
}

.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.w-64 {
    width: 32px;
}

.gap-100 {
    gap: 100px;
}

.link:hover {
    color: #F79E0E;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .cols-2 {
        grid-template-columns: 1fr;
    }
    
    .cols-5 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 888;
        background-color: var(--color-dark-blue);
        padding: 30px 0;
    }

    #menu, .menu-links {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #menu.show {
        display: flex;
    }

    #hamburger {
        display: block;
    }
}