:root {
    --color-orange: #F79E0E;
    --color-yellow: #EEBD23;
    --color-dark-blue: #0F124D;
    --color-light-blue: #262A4E;
    --color-light-gray: #979797;
    --color-gray: #404041;
    --color-dark-gray: #262626;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header {
    background-color: var(--color-dark-blue);
}

#footer {
    background-color: var(--color-light-blue);
    color: #fff;
}

.white {
    color: #fff;
}

.orange {
    color: var(--color-orange);
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 0;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 27px;
}

.fs-15 {
    font-size: 15px;
}

.fs-11 {
    font-size: 11px;
}

.fs-21{
    font-size: 21px;
}

.fs-12 {
    font-size: 12px;
}

h3,
p,
li {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;

}

ul {
    font-size: 14px;
    padding-left: 20px;
}

li {
    list-style-image: url("images/vue.svg");
    line-height: 25px;
}

footer li {
    list-style-image: none;
    list-style: none;
}

footer ul {
    padding-left: 0;
}

button {
    border: none;
    background-color: var(--color-orange);
    color: #fff;
    font-size: 21px;
    padding: 20px 60px;
    margin-top: 30px;
    cursor: pointer;
    transition: backround-color .25s;
    border-radius: 100px;
}

button:hover {
    background-color: var(--color-yellow);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: transform .25s;
}

.menu a:hover {
    transform: scale(1.2);
    color: #F79E0E;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cols-5 {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    gap: 30px;
}

.py-80 {
    padding: 80px 0;
}

.gap-100 {
    gap: 100px;
}

.link:hover {
    color: #F79E0E;
    text-decoration: underline;
}